<div class="container" *ngIf="authUserData$ | async as authUser">
    <div class="loading" *ngIf="!loading; else loadingSpinner">
        <div class="header">
            <div class="text">
                <h1>Third F - Faith</h1>
                <p>Opportunities to impact your community</p>
            </div>
        </div>

        <div class="content">
            <div class="section">
                <div class="section-head">
                    <h4>Events</h4>
                    <p>For a list of all events, view F3 Omaha's <a target="_blank" href="https://f3omaha.com/events/category/3rdf/">Third F Calendar</a></p>
                </div>
                <div class="events" *ngIf="activeEvents.length > 0">
                    <!-- Active events -->
                    <div class="event" *ngFor="let event of activeEvents" [routerLink]="'/blood-drive/' + event.id">
                        <div class="event-image">
                            <img height="75px" width="75px" src="/assets/images/blood-droplet-achievement.png" />
                        </div>
                        <div class="event-details">
                            <h5>{{event.name}}</h5>
                            <p>{{truncateDescription(event.description)}}</p>
                            <span style="font-weight: bold; color: #3c68b1;">Sign up now!</span>
                        </div>
                    </div>
                </div>
                <!-- No events message -->
                <p *ngIf="activeEvents.length === 0">No upcoming events scheduled.</p>
            </div>
            <div class="section">
                <div class="section-head">
                    <h4>Previous Events</h4>
                </div>
                <div class="events" *ngIf="pastEvents.length > 0">
                    <!-- Past events -->
                    <div class="event" *ngFor="let event of pastEvents" [routerLink]="'/blood-drive/' + event.id">
                        <div class="event-image">
                            <img height="75px" width="75px" src="/assets/images/blood-droplet-achievement.png" />
                        </div>
                        <div class="event-details">
                            <h5>{{event.name}}</h5>
                            <p>{{truncateDescription(event.description)}}</p>
                            <span style="font-weight: bold; color: #666;">Event Completed</span>
                        </div>
                    </div>
                </div>
                <!-- No previous events message -->
                <p *ngIf="pastEvents.length === 0">No previous events found.</p>
            </div>
        </div> 
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner></mat-spinner>
    </div>
</ng-template>