<div class="container">
  <div class="header">
    <h2>Workout Log</h2>
     <a class="view-full-stats" routerLink="/users/{{user.id}}/stats">View full stats</a>
  </div>
  <div class="inner-data">
    <div class="graph-container">
      <div class="graph">
          <ul class="months" [style.grid-template-columns]="'repeat(' + repeatedColumnsCount + ', calc(var(--week-width) * 4))' ">
            <li *ngFor="let month of sortedMonths">{{month}}</li>
          </ul>
          <ul class="days">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="squares">
            <li *ngFor="let workout of workouts" [id]="'l-' + workout.countPerDay" 
              [ngClass]="{'personal-activity' : workout.hadPersonalWorkout && workout.countPerDay === 0, 'personal-activity-with-other-activity' : workout.hadPersonalWorkout && workout.countPerDay > 0 }"></li>
          </ul>
      </div>
      <div class="legend-container">
        <ol class="legend">
          <li><span class="legend-square" id="l-1"></span>Beatdown Attended</li>
          <li><span class="legend-square" id="l-2"></span>Beatdown + Pre-Activity</li>
          <li><span class="legend-square personal-activity"></span>Personal Workout</li>
        </ol>
      </div>
      <div class="month-selector">
        <button mat-flat-button id="changeMonths3" [disabled]="monthsOut === 3" (click)="adjustMonthsOut(3)">3 Months</button>
        <button mat-flat-button id="changeMonths6" [disabled]="monthsOut === 6" (click)="adjustMonthsOut(6)">6 Months</button>
      </div>
    </div>
    <div class="recent-activity-container">
      <div class="recent-title">
        <h2>Recent Workouts</h2>
        <!-- <a *ngIf="!loadingRecents" [routerLink]="['/users/' + user.id + '/all-workouts']">View All</a> -->
        <ng-container *ngIf="!loadingRecents; else loadingSpinner"></ng-container>
      </div>
      <div class="fill-container" *ngIf="loadingRecents"></div>
      <ng-container *ngIf="recentActivity && !loadingRecents">
        <div class="recent-activity" *ngFor="let activity of recentActivity" [ngClass]="{ 'activity-color' : activity.preActivity !== 'None', 'personal-activity' : activity.activityType === 'personal'}">
          <p class="activity-date">{{activity.date | date: 'MM/dd/yyyy'}}</p>
          <div class="title">
            <h2 *ngIf="activity.activityType === 'personal'">Personal Workout</h2>
            <h2 *ngIf="activity.activityType === 'downrange'">Downrange</h2>
            <h2 *ngIf="activity.activityType === 'shieldLock'">Shield Lock</h2>
            <h2 *ngIf="activity.activityType === 'f3Omaha'">{{activity.beatdownDomain.eventName ? activity.beatdownDomain.eventName : activity.beatdownDomain.aoLocation?.name}}</h2>
            <p id="pre-activity" *ngIf="activity.activityType !== 'personal' &&activity.preActivity !== 'None'">Pre-Activity: <b>{{activity.preActivity}}</b></p>
          </div>
        </div>
        <div class="empty-activity" *ngIf="recentActivity.length === 0">
          <p>No recent activity</p>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loadingSpinner>
  <div class="fill-container">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
</ng-template>
