<div class="banner">
    <p><b>🎉 Try it out</b> - We're currently migrating blood drive sign-ups to PaxNet. If you notice any weird behavior, please report it!</p>
</div>
<ng-container *ngIf="!showEventNotFound; else eventNotFound"></ng-container>
<div class="loading" *ngIf="!loading; else loadingSpinner">
    <div class="auth" *ngIf="authUserData$ | async as authUser">
        <div class="container" *ngIf="eventInformation" @fadeInOut>
            <div class="blood-drive-data">
                <div class="details">
                    <div class="image">
                        <img height="75px" width="75px" src="/assets/images/blood-droplet-achievement.png" />
                        <h2>{{eventInformation.name}}</h2>
                    </div>
                    <p>{{eventInformation.description}}</p>
                    <div class="additional-details">
                        <p><b>When:</b> {{eventInformation.eventDate}}</p>
                        <p><b>Where:</b> {{eventInformation.eventHost}} at <a target="_blank" [href]="'https://www.google.com/maps/dir/?api=1&destination=' + eventInformation.address">{{eventInformation.address}}</a></p>
                        <p><b>Need more information?</b> Reach out to <a target="_blank" [routerLink]="'/users/ZAYsikMIVyrF5jJVejhb'">Chernobyl</a></p>
                    </div>
                </div>
            </div>
            <div class="sign-up" *ngIf="!userEntry">
                <div class="details">
                    <h4>Sign up</h4>
                    <p>Select an available time from the dropdown</p>
                </div>
                <div class="form">
                    <mat-form-field *ngIf="!userEntry">
                        <mat-label>Select a time</mat-label>
                        <mat-select [formControl]="timeslotControl" required>
                          <mat-option></mat-option>
                          @for (option of availableTimeslots; track option) {
                            <mat-option [value]="option">{{ option }}</mat-option>
                          }
                        </mat-select>
                      </mat-form-field>
                      <div class="actions">
                        <button class="primary-action" *ngIf="!userEntry && canJoinEvent()" mat-raised-button id="join-event" (click)="signUp()">Register</button>
                    </div>
                </div>
            </div>
            <div class="signed-up" *ngIf="userEntry">
                <p>Thanks for registering! You are signed up for <b>{{userEntry.timeslot}}</b> on <b>{{eventInformation.eventDate}}</b>.</p>
                <button *ngIf="userEntry" mat-flat-button id="withdraw" (click)="withdraw()">Withdraw</button>
            </div>
            <div class="blood-drive-slots">
                <div class="header">
                    <h5>Full sign-up sheet</h5>
                    <button mat-icon-button (click)="exportToExcel()"><mat-icon>save_alt</mat-icon></button>
                </div>
                <div #TABLE>
                    <mat-table [dataSource]="tableData" class="mat-elevation-z8" >
                        <ng-container matColumnDef="timeslot">
                            <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{ element.timeslot }} </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.user?.firstName || '' }}
                            </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="lastName">
                            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.user?.lastName || '' }}
                            </mat-cell>
                        </ng-container>
    
                        <ng-container matColumnDef="f3Name">
                            <mat-header-cell *matHeaderCellDef> F3 Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.user?.f3Name || '' }}
                            </mat-cell>∂
                        </ng-container>
    
                        <ng-container matColumnDef="phoneNumber">
                            <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                {{ element.user?.phoneNumber.toDashedForm() || '' }}
                            </mat-cell>∂
                        </ng-container>
    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #eventNotFound>
    <div class="eventNotFound">
      <h1>Event not found</h1>
      <p>We either made a mistake, or this event does not exist.</p>
      <button mat-raised-button (click)="goBack()">Go Back</button>
    </div>
  </ng-template>
  
  <ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  