<div class="container" *ngIf="authUserData$ | async as authUser">
    <div class="loading" *ngIf="!loading; else loadingSpinner">
        <h1>F3 Omaha Exicon</h1>
        <p>Exercise names and their descriptions</p>
        <div class="exercise-list" *ngIf="paxUserData$ | async as pax">
            <p class="approvalMessage" *ngIf="showApprovalMessage">{{approvalMessage}}</p>

            <button mat-flat-button style="background-color: orange;" (click)="addNewExercise()" *ngIf="!editMode">Add New</button>
            <div class="exercises" *ngIf="!editMode">
                <mat-card *ngFor="let exercise of exercises$ | async">
                    <mat-card-header class="exercise-header">
                        <mat-card-title>{{exercise.name}}</mat-card-title>
                        <div class="category" [id]="convertToId(exercise.category)">{{exercise.category}}</div>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{exercise.description}}</p>
                        <p>by: {{exercise.submittedByF3Name}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="add-new-exercise" *ngIf="editMode">
                <app-add-exercise [f3Name]="pax.f3Name" (cancel)="toggleEditMode()" (added)="addedExercise()"></app-add-exercise>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="fill-container">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>  