.container {
    padding: 16px;

    h1 {
      margin-bottom: 4px;
      font-size: 32px;
      font-weight: bold;
    }

      .exercises {
        padding: 12px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .exercise {
            margin: 4px;
            padding: 8px;
            background-color: #eee;
            h4 {
                margin: 0;
                margin-bottom: 4px;
            }
            p {
                margin: 0;
            }
          }
      }

}

#core {
  background-color: #8B4513; 
  color: #fff;
}

#arms {
  background-color: #2F4F4F;
  color: #fff;
}

#legs {
  background-color: #516521;
  color: #fff;
}

#warm-up {
  background-color: #64476d;
  color: #fff;
}

#compound {
  background-color: #252860;
  color: #fff;
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;

  mat-card-title {
      font-size: 18px !important;
      font-weight: bold;
      margin-bottom: 0px!important;
  }
}

.category {
  padding: 4px 8px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.fill-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: rgb(255, 128, 0); }