<div class="container">
    <h1>Admin Tools</h1>
    <p>Internal PAX Management Tools</p>
    <div class="section" *ngIf="isAdmin">
        <div class="tools">
            <h3>Admin Tools</h3>
            <a mat-flat-button (click)="downloadUserRoster()">Download Entire Roster CSV</a>
            <a mat-flat-button [routerLink]="['/admin/user-data-edit']">Admin Pax Data Edit</a>
            <a mat-flat-button [routerLink]="['/admin/exicon-approval']">Exicon Approval</a>
            <a mat-flat-button [routerLink]="['/support/admin']">Support Tickets</a>
            <a mat-flat-button [routerLink]="['/admin/blood-drive-creator']">Blood Drive Creator</a>
        </div>
    </div>
</div>